#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

.title h3 {
    font-size: 20px;
    font-weight: light;
}

a {
    color: #555;
    font-size: 13px;
    text-decoration: underline;
}


svg {
    font-family: sans-serif;
    font-size: 11px;
}

.y-axis path, .y-axis line {
  fill: none;
  stroke: none;
}

.grid .tick line {
  stroke: gray;
}

.grid path.domain {
  fill: none;
  stroke: none;
}
